In [1]:
import pandas as pd
from sqlalchemy import create_engine 
import datetime as dt

In [2]:
# Importing csv

storm_csv = pd.read_csv('data/Storms_2020.csv')
storm_csv.head()

/Users/nickcresta/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (16,17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,event_id,state,event_type,cz_name,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,865452,Oklahoma,hail,TULSA,1/10/2020 11:35,CST-6,1/10/2020 11:35,0,0,0,...,NaN,0,NaN,1.0,0.24,ENE,TULSA,36.1514,-95.9460,POINT(-95.946 36.1514)
1,865453,Oklahoma,hail,TULSA,1/10/2020 11:36,CST-6,1/10/2020 11:36,0,0,0,...,NaN,0,NaN,1.0,2.95,NNE,TULSA R L JONES ARPT,36.0690,-95.9585,POINT(-95.9585 36.069)
2,865454,Oklahoma,hail,TULSA,1/10/2020 11:38,CST-6,1/10/2020 11:38,0,0,0,...,NaN,0,NaN,1.0,2.00,N,TULSA,36.1790,-95.9500,POINT(-95.95 36.179)
3,865455,Oklahoma,hail,CHEROKEE,1/10/2020 15:02,CST-6,1/10/2020 15:02,0,0,0,...,NaN,0,NaN,1.0,0.65,S,TAHLEQUAH,35.9106,-94.9710,POINT(-94.971 35.9106)
4,865712,Texas,hail,HAYS,1/10/2020 19:40,CST-6,1/10/2020 19:40,0,0,0,...,NaN,0,NaN,1.0,5.01,ENE,HENLY,30.2400,-98.1500,POINT(-98.15 30.24)

In [3]:
storm_csv.columns

Index(['event_id', 'state', 'event_type', 'cz_name', 'event_begin_time',
       'event_timezone', 'event_end_time', 'injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'],
      dtype='object')

In [4]:
# selecting the columns we want

new_stormcsv = storm_csv[['event_id', 'state', 'event_type','event_begin_time',
       'event_timezone', 'event_end_time','injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops','magnitude','event_latitude',
       'event_longitude']]
new_stormcsv.head()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1/10/2020 11:35,CST-6,1/10/2020 11:35,0,0,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1/10/2020 11:36,CST-6,1/10/2020 11:36,0,0,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1/10/2020 11:38,CST-6,1/10/2020 11:38,0,0,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1/10/2020 15:02,CST-6,1/10/2020 15:02,0,0,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1/10/2020 19:40,CST-6,1/10/2020 19:40,0,0,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [5]:
#identifying types for each column
new_stormcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40037 entries, 0 to 40036
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           40037 non-null  int64
 1   state              40037 non-null  object
 2   event_type         40037 non-null  object
 3   event_begin_time   40037 non-null  object
 4   event_timezone     40037 non-null  object
 5   event_end_time     40037 non-null  object
 6   injuries_direct    40037 non-null  int64
 7   injuries_indirect  40037 non-null  int64
 8   deaths_direct      40037 non-null  int64
 9   deaths_indirect    40037 non-null  int64
 10  damage_property    31453 non-null  float64
 11  damage_crops       32222 non-null  float64
 12  magnitude          25659 non-null  float64
 13  event_latitude     25669 non-null  float64
 14  event_longitude    25669 non-null  float64
dtypes: float64(5), int64(5), object(5)
memory usage: 4.6+ MB

In [6]:
# cleaning date columns

new_stormcsv['event_begin_time'] = pd.to_datetime(new_stormcsv['event_begin_time'])
new_stormcsv['event_end_time'] = pd.to_datetime(new_stormcsv['event_end_time'])

<ipython-input-6-5d2f0f95d151>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['event_begin_time'] = pd.to_datetime(new_stormcsv['event_begin_time'])
<ipython-input-6-5d2f0f95d151>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['event_end_time'] = pd.to_datetime(new_stormcsv['event_end_time'])

In [7]:
new_stormcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40037 entries, 0 to 40036
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           40037 non-null  int64
 1   state              40037 non-null  object
 2   event_type         40037 non-null  object
 3   event_begin_time   40037 non-null  datetime64[ns]
 4   event_timezone     40037 non-null  object
 5   event_end_time     40037 non-null  datetime64[ns]
 6   injuries_direct    40037 non-null  int64
 7   injuries_indirect  40037 non-null  int64
 8   deaths_direct      40037 non-null  int64
 9   deaths_indirect    40037 non-null  int64
 10  damage_property    31453 non-null  float64
 11  damage_crops       32222 non-null  float64
 12  magnitude          25659 non-null  float64
 13  event_latitude     25669 non-null  float64
 14  event_longitude    25669 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(3)
memory usage: 4.6+ MB

In [8]:
# Combining injury and death columns to be one

new_stormcsv['Injuries'] = new_stormcsv['injuries_direct'] + new_stormcsv['injuries_indirect']
new_stormcsv['Deaths'] = new_stormcsv['deaths_direct'] + new_stormcsv['deaths_indirect']
# new_stormcsv['event_month'] = dt.datetime.strftime(new_stormcsv['event_begin_time'], "%m")
new_stormcsv['event_month'] = new_stormcsv['event_begin_time'].dt.month
new_stormcsv['state'] = new_stormcsv['state'].str.title()
new_stormcsv

<ipython-input-8-acba67d3fd25>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['Injuries'] = new_stormcsv['injuries_direct'] + new_stormcsv['injuries_indirect']
<ipython-input-8-acba67d3fd25>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['Deaths'] = new_stormcsv['deaths_direct'] + new_stormcsv['deaths_indirect']
<ipython-input-8-acba67d3fd25>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['event_month'] = new_stormcsv['event_begin_time'].dt.month
<ipython-input-8-acba67d3fd25>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['state'] = new_stormcsv['state'].str.title()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,magnitude,event_latitude,event_longitude,Injuries,Deaths,event_month
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0,0,0.0,0.0,1.00,36.1514,-95.9460,0,0,1
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0,0,0.0,0.0,1.00,36.0690,-95.9585,0,0,1
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0,0,0.0,0.0,0.75,36.1790,-95.9500,0,0,1
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,0,0,15000.0,0.0,1.75,35.9106,-94.9710,0,0,1
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0,0,0.0,0.0,0.75,30.2400,-98.1500,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40032,913993,Gulf Of Mexico,marine thunderstorm wind,2020-07-24 13:34:00,CST-6,2020-07-24 13:35:00,0,0,0,0,0.0,0.0,37.00,30.4767,-86.3263,0,0,7
40033,913989,Gulf Of Mexico,marine thunderstorm wind,2020-07-23 11:47:00,CST-6,2020-07-23 11:48:00,0,0,0,0,0.0,0.0,41.00,30.6904,-88.0369,0,0,7
40034,913991,Gulf Of Mexico,marine thunderstorm wind,2020-07-23 11:53:00,CST-6,2020-07-23 11:54:00,0,0,0,0,0.0,0.0,35.00,30.6174,-88.0554,0,0,7
40035,913992,Gulf Of Mexico,marine thunderstorm wind,2020-07-24 11:12:00,CST-6,2020-07-24 11:13:00,0,0,0,0,0.0,0.0,36.00,30.2226,-88.0171,0,0,7
40036,913995,Gulf Of Mexico,marine thunderstorm wind,2020-07-25 14:00:00,CST-6,2020-07-25 14:01:00,0,0,0,0,0.0,0.0,34.00,30.4855,-86.4598,0,0,7

In [9]:
new_stormcsv.columns

Index(['event_id', 'state', 'event_type', 'event_begin_time', 'event_timezone',
       'event_end_time', 'injuries_direct', 'injuries_indirect',
       'deaths_direct', 'deaths_indirect', 'damage_property', 'damage_crops',
       'magnitude', 'event_latitude', 'event_longitude', 'Injuries', 'Deaths',
       'event_month'],
      dtype='object')

In [10]:
clean_storm = new_stormcsv[['event_id', 'state', 'event_type', 'event_month', 'event_begin_time', 'event_timezone',
       'event_end_time', 'Injuries', 'Deaths', 'damage_property', 'damage_crops',
       'magnitude', 'event_latitude', 'event_longitude']]
clean_storm.head()

,event_id,state,event_type,event_month,event_begin_time,event_timezone,event_end_time,Injuries,Deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [11]:
# column renamings

clean_storm = clean_storm.rename(columns={'Injuries':'total_injuries', 'Deaths':'total_deaths'})
clean_storm.head()

,event_id,state,event_type,event_month,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [12]:
clean_storm.dropna()
clean_storm.head()

,event_id,state,event_type,event_month,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [13]:
# # linking to StormsDB on SQL
# conn = "postgres:postgres@localhost:5432/storms_db"
# engine = create_engine(f'postgresql://{conn}')

In [14]:
# engine.table_names()

In [15]:
# clean_storm.to_sql(name='storms', con = engine, if_exists = 'replace', index = False)

In [16]:
#Run a query
# pd.read_sql_query('select * from storms limit 10', con = engine)

In [17]:
clean_storm.to_json(r'clean_storm.json',orient='table')

In [18]:
clean_storm.head()

,event_id,state,event_type,event_month,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [20]:
# Making new group_by dataframe to summarize our data by state and month and get counts for each category to use for our bar chart
# Need count by state and month of event_id
storm_group_bar = clean_storm.groupby(["state","event_month"]).count()['event_id']
storm_group_bardf = storm_group_bar.to_frame()
storm_group_bardf.head(20)

                            event_id
state          event_month
Alabama        1                 157
               2                 124
               3                  96
               4                 390
               5                 101
               6                 101
               7                 134
Alaska         1                  59
               2                  60
               3                  24
               4                  22
               5                   2
               7                   1
American Samoa 1                   3
               2                  14
               3                   1
               4                   1
               6                   2
               7                   1
Arizona        1                   2

In [21]:
clean_storm.columns

Index(['event_id', 'state', 'event_type', 'event_month', 'event_begin_time',
       'event_timezone', 'event_end_time', 'total_injuries', 'total_deaths',
       'damage_property', 'damage_crops', 'magnitude', 'event_latitude',
       'event_longitude'],
      dtype='object')

In [22]:
# Creating 2nd grouped dataframe to see counts of below categories by state
# Need count by state and event_type

storm_group_pie = clean_storm.groupby(["state","event_type"]).count()['event_id']
storm_group_piedf = storm_group_pie.to_frame()
storm_group_piedf.head(20)

                                 event_id
state   event_type
Alabama flash flood                    77
        flood                          40
        frost/freeze                    4
        hail                           57
        heat                           11
        heavy rain                      1
        high wind                      12
        lightning                       4
        storm surge/tide                4
        strong wind                     8
        thunderstorm wind             806
        tornado                        71
        tropical storm                  3
        winter weather                  5
Alaska  avalanche                       3
        blizzard                       53
        cold/wind chill                 7
        extreme cold/wind chill         1
        flood                           7
        heavy snow                     57

In [23]:
# Creating 3rd grouped dataframe to see counts of below categories by state
# Need count by state with only 4 damage columns (total deaths, total injuries, damage property, damage crops)

storm_group_bubble = clean_storm.groupby("state").sum()[['total_injuries', 'total_deaths',
       'damage_property', 'damage_crops']]
storm_group_bubble.head(20)

,total_injuries,total_deaths,damage_property,damage_crops
state,,,,
Alabama,28,7,1465000.0,0.0
Alaska,0,3,300000.0,0.0
American Samoa,0,2,466000.0,57000.0
Arizona,9,19,1538000.0,0.0
Arkansas,29,2,312547000.0,1400000.0
Atlantic North,0,0,5000.0,0.0
Atlantic South,0,0,0.0,0.0
California,84,16,4289950.0,0.0
Colorado,4,9,557730.0,30001230.0
Connecticut,0,0,1299600.0,0.0
Delaware,0,0,0.0,0.0
District Of Columbia,2,0,442000.0,0.0
E Pacific,1,2,0.0,0.0
Florida,18,7,104000100.0,32000.0
Georgia,44,10,29555930.0,5740.0
Guam,0,0,0.0,0.0
Gulf Of Mexico,1,3,500000.0,0.0
Hawaii,0,0,17000.0,50000.0
Idaho,3,8,2965300.0,23000.0
Illinois,22,6,46497500.0,920000.0

In [25]:
# converting grouped dataframes into json files for our plotly application
# clean_storm.to_json(r'clean_storm.json',orient='table')

storm_group_bardf.to_json(r'bar_data.json',orient='table')
storm_group_piedf.to_json(r'pie_data.json',orient='table')
storm_group_bubble.to_json(r'bubble_data.json',orient='table')